@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dangrek&family=Emilys+Candy&family=Henny+Penny&family=Inconsolata:wght@200;400&family=Irish+Grover&family=Kreon:wght@300&family=Poppins:wght@200;300&family=Rampart+One&family=Roboto+Slab:wght@100&family=Roboto:wght@300&display=swap');

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 38%, rgba(48,52,162,1) 94%);
}


h1{
    font-size: 50px;
    color:#d2b342;

}

p.sinopse{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.ima{
  
}

.livro{
    font-size: 30px;
    color: #d2b342;
}

.imagem{
    border-radius: 50%;
    
}



